/*  your css code here. If applicable */
body{
	background-color:#cccccc;
}
h1{
	text-align:center;
}
.player_one{
	background-color:white;
	padding:10px 10px;
}
h2{
	text-align:center;
	
}
.player_two{
	background-color:white;
	padding :10px 10px;
	margin-left:50px;
	width:320px;
}
ul{
	list-style-type:none;
}
a{
	text-decoration:none;
	color:black;
}